html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #ddd;
	color: black;
}

h1 {
	font-size: 3em;
	font-family: 'Arimo', sans-serif;
}
h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
}

a {
	color: rgb(185,185,184);
	cursor: pointer;
}
a:hover {
	color: white!important;
}
a:visited {
	color: rgb(185,185,185);
}

#top-header {
	width: 100%;
	height: 100%;
	border-top: 75px solid;
	border-bottom: 75px solid;
	background: url(../imagesbw/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#about {
	width: 100%;
	height: 100%;
	border-top: 75px solid;
	border-bottom: 75px solid;
	background: url(../imagesbw/cornfield.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#work {
	width: 100%;
	height: 100%;
	border-top: 75px solid;
	border-bottom: 75px solid;
	background: url(../imagesbw/hollywood.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-left: 5px;
	padding-right: 5px;
}

#contact {
	position: absolute;
	width: 100%;
	height: 100%;
	border-top: 75px solid;
	border-bottom: 75px solid;
	background-image: url(../imagesbw/mail_web.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.footer-links {
	width: 100%;
	height: 40px;
	background-color: rgba(0,0,0,.5);
	text-align: center;
}

.tint-r {
	position: absolute;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(212, 145, 106,0.3);
}

.tint-b {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(43, 74, 111,0.3);
}

.tint-y {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(170, 145, 57,0.3);
}

.z-up {
	z-index: 200;
}

@media (min-width: 768px) {
    .float-top-center {
		background-color: rgba(0,0,0, 0.8);

		width: 350px;
		margin: 0 auto;
		border-radius: 15%;
		padding: 25px;
	
		color: white;
		text-align: left;
	}
}
@media (max-width: 768px) {
    .float-top-center {
		background-color: rgba(0,0,0, 0.8);

		width: 250px;
		margin: 0 auto;
		border-radius: 15%;
		padding: 25px;
	
		color: white;
		text-align: left;
	}
}


.work-container {
	padding: 5px;
}

.work-box {
	background-color: rgba(250,250,250, 0.4);
	border-radius: 25px;
	padding: 50px;
	height: 300px;
	overflow: hidden;

	color: white;
	text-align: center;
}

.work-box img {
	width: 100%;
}

.column {
	padding: 5px;
}

.box {
	background-color: rgba(0,0,0, 0.8);
	border-radius: 25px;
	padding: 50px;

	color: white;
	text-align: center;
}

.row {
	padding-left: 5px;
	padding-right: 5px;
}

.navigate-bottom {
	z-index: 300;
	position: absolute;
	width: 50px;
	left: 50%;
	margin-left: -25px;
	bottom: 25px;
}

.button-more {
	cursor: pointer;
	width: 50px;
	background-color: rgba(185,185,185,.8);
	border: 0px;
}

.button-more:hover {
	background-color: gray;
}

.inbetween {
	padding-top: 50px;
	padding-bottom: 50px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar-inverse {
	background-color: rgba(0,0,0,0.9);
}

